        <div class="vgr-header--left">
            <img class="vgr-header--logo" src="img/conversity-icon.svg" alt="Conversity Icon">
            <a class="vgr-header--label" href="/"><span>Voyager</span></a>
            <div class="vgr-header--project" title="Garmin - Running Watch v2">Garmin - Running Watch v2</div>
        </div>

        <div class="vgr-header--right" tabindex="0">
            <svg class="vgr-header--navIcon icon-svg"><use xlink:href="#nav" /></svg>
            <div class="vgr-header--nav">
                <div class="vgr-header--switcher">
                    <div class="vgr-header--switcher---lbl active"><span>Design</span></div>
                    <div class="vgr-header--switcher---bar"></div>
                    <div class="vgr-header--switcher---lbl"><span>Build</span></div>
                </div>
                <div class="vgr-subnav" onclick="modalAddForm.createSubNav(this, 'bottom', 'right', 'header');">
                    <div class="vgr-btn vgr-btn_prm vgr-subnav--icon">
                        <svg class="icon-svg"><use xlink:href="#export" /></svg>
                        <span>Export</span>
                    </div>
                </div>
                <div class="vgr-user">
                    <span class="vgr-user--icon">US</span>
                    <span class="vgr-user--lbl">Logout</span>
                </div>
            </div>
        </div>