<div class="vgr-subnav--body">
    <div class="vgr-subnav--type vgr-subnav--type_header" id="subNavHeader">
        <div class="vgr-subnav--link">Compile Journey</div>
        <div class="vgr-subnav--link">Generate Flow Chart</div>
        <div class="vgr-subnav--link">Sign-off Document</div>
        <div class="vgr-subnav--link">Publish for Review</div>
        <div class="vgr-subnav--link">Publish Live</div>
    </div>

    <div class="vgr-subnav--type vgr-subnav--type_card" id="subNavCard">
        <div class="vgr-subnav--link">Share</div>
        <div class="vgr-subnav--link">Duplicate</div>
        <div class="vgr-subnav--link">Archive</div>
        <div class="vgr-subnav--link" data-type="delete">Delete</div>
    </div>

    <div class="vgr-subnav--type vgr-subnav--type_formView" id="subNavFormView">
        <div class="vgr-subnav--link">Duplicate</div>
        <div class="vgr-subnav--link">Edit auto-text</div>
        <div class="vgr-subnav--link">Add/edit info text</div>
    </div>
    
    <div class="vgr-subnav--type vgr-subnav--type_form" id="subNavForm">
        <div class="vgr-subnav--link">Duplicate</div>
        <div class="vgr-subnav--link">Edit auto-text</div>
        <div class="vgr-subnav--link">Add/edit info text</div>
    </div>

    <div class="vgr-subnav--type vgr-subnav--type_answer" id="subNavAnswer">
        <div class="vgr-subnav--link">Duplicate</div>
        <div class="vgr-subnav--link">Edit auto-text</div>
        <div class="vgr-subnav--link">Add/edit info text</div>
    </div>

    <div class="vgr-subnav--type vgr-subnav--type_link" id="subNavLink">
        <!-- Generated links will be placed in this area... -->
    </div>
</div>